body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 400px;
}

.signup-image {
    width: 100px;
    margin: 0 auto;
    display: block;
}

.signup-header h2 {
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.submit-btn {
    width: 100%;
    background-color: #004d25;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.google-signin img {
    width: 20px;
    margin-right: 10px;
}

.divider {
    text-align: center;
    margin: 10px 0;
}